
  .category{  
    border-bottom: 1px solid #bbc3d09c;
    padding-bottom: 5%;
    display: flex;
    font-size: 45px;
    color: #4A4B64;
    margin-top: 20%;   
  }  


  main ul {
    list-style: none;
    margin-top: 25px;
  }

  .category p {
    padding-left: 15%;
  }

  li i {
    padding-left: 5%;
  }

  
.movement-list li{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  display: block;
  width: 100%;
  padding: 7px;  
  border-bottom: 1px solid #ddd; 
  margin-bottom: 10px;
  font-size: 24px;
}


@media only screen and (min-width: 768px) {
  .category {
    margin-top: 5%;
  }
}