.main {
    height: 70vh;
  }

  .category{
    height: 20vh;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  
  }
  
  .category p {
    text-align: center;
    font-size: 45px; 
    align-self: center;
    
  }