.main { 
    margin: 10%;
    
  }

 
  .category{  
    border-bottom: 1px solid #bbc3d09c;
    padding-bottom: 5%;
    display: flex;
    font-size: 45px;
    color: #4A4B64;
    margin-top: 20%;   
  }  


  main ul {
    list-style: none;
  }

  .category p {
    padding-left: 15%;
  }

  li i {
    padding-left: 5%;
  }