
/*? COLOR PALATE */
/** https://dribbble.com/shots/5471461-Kenko-workout-app-onboarding */

.theme-white {
  color: #E5E4EC;
}
.theme-light-gray {
  color: #BBC3D0;
}
.theme-mid-gray {
  color: #817D8C;
}
.theme-dark {
  color: #0E0F22;
}
.theme-primary {
  color: #2E359D;
}
.theme-dark-gray {
  color: #4A4B64;
}

.theme-gradient {
  background-image: linear-gradient(to bottom right, #262D9D, #0E0F21); /* Standard syntax (must be last) */

}



.login-ribbon {
  width: 100%;
  background-image: linear-gradient(to bottom right, #262D9D, #0E0F21); /* Standard syntax (must be last) */
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.signup-ribbon {
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(to bottom right, #262D9D, #0E0F21); /* Standard syntax (must be last) */
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.search-ribbon {
  width: 100%;
  height: 155px;
  background-color: #3F51B5;
  background-image: linear-gradient(to bottom right, #262D9D, #0E0F21); /* Standard syntax (must be last) */
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
 
}
#searchLiftForm{
  display: flex;
  align-items: center;
}
.list-title-wrapper {
  display: flex;
  align-items: flex-end;
}
.list-title {
  padding-left: 15px;
  font-size: 40px;
  color: whitesmoke;
}


.border-danger{
  border-bottom-color: red;
}

.main-movements {
  margin-top: 155px;
}
.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 33%;
  display: flex;
  justify-content: center
  
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-image: linear-gradient(to bottom right, #262D9D, #0E0F21); /* Standard syntax (must be last) */
  color: white;
}

.navbar a i {
  align-self: center;
 ;
}
.center-btn {
  border-left: 1px solid rgba(201, 201, 201, 0.34);
  border-right: 1px solid rgba(201, 201, 201, 0.34);
}

.single-lift {
  height: 150px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

.hide {
  display: none;
}

.error {
  color: rgb(179, 24, 24);
}

.text-white{
  color: #f1f1f1;
}
.text-white label{
  color: #f1f1f1;
}

.lt-border {
  border: 1px solid #BBC3D0;
}