
/*? COLOR PALATE */
/** https://dribbble.com/shots/5471461-Kenko-workout-app-onboarding */

.theme-white {
  color: #E5E4EC;
}
.theme-light-gray {
  color: #BBC3D0;
}
.theme-mid-gray {
  color: #817D8C;
}
.theme-dark {
  color: #0E0F22;
}
.theme-primary {
  color: #2E359D;
}
.theme-dark-gray {
  color: #4A4B64;
}

/** NEw Color Pallet */
.ClassBook-1-hex { color: #2E2C73; }
.ClassBook-2-hex { color: #0540F2; }
.ClassBook-3-hex { color: #E9ECF2; }
.ClassBook-4-hex { color: #367FBF; }
.ClassBook-5-hex { color: #36C8D9; }

html, body {
  height:100%;
  min-height:100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex: 0 0 auto; 
}

main {
  flex: 1 1 auto;
  overflow-y: scroll;
  margin: 5% 10%;
    
}

.header-gradient {
  background-image: linear-gradient(to bottom right, #2E2C73, rgb(56, 53, 145)); /* Standard syntax (must be last) */
  color: #E5E4EC;
}



.flex-exit {
  display: flex;
  justify-content: space-between;
}

.exit-icon {
  padding: 20px;
  padding-right: 10%;
  
}
.exit-icon i {
  cursor: pointer;
}

.border-danger{
  border-bottom-color: red;
}

.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 33%;
  display: flex;
  justify-content: center
  
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-image: linear-gradient(to bottom right, #2E2C73, rgb(56, 53, 145)); /* Standard syntax (must be last) */
  color: #E5E4EC;
}

.navbar a i {
  align-self: center; 
}
.center-btn {
  border-left: 1px solid rgba(201, 201, 201, 0.34);
  border-right: 1px solid rgba(201, 201, 201, 0.34);
}


.hide {
  display: none;
}

.error {
  color: rgb(179, 24, 24);
  padding: 5px;
}


.d-flex {
  display: flex;
}


i[data-action=close]{
  float: right;
  padding: 8px;
}

