
#tableContainer {   
    height: 60%;
    overflow-y: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #tableContainer thead th {
    position: sticky; 
    top: 0;
  }


  table  { border-collapse: collapse; width: 100%; }
  th, td { padding: 8px 16px; text-align: center; }
  th     { background:#eee; }



  #noRecordsMsg {
      margin: 30% 10%;
  }

  @media only screen and (min-width: 768px) {
    #noRecordsMsg {
      margin: 10% 25% !important;
    }
    #tableContainer{
      width: 50%;
      height: 50%;
      margin: 5% 25%;
    }
    #movementStatsContainer{
      margin-top: 5%;
    }
  }