* {
    margin: 0;
    padding: 0;
    
}

table {
    border-collapse: collapse; 
}
table thead {
    text-align: left;
    background-image: linear-gradient(to bottom right, #262D9D, #0E0F21); /* Standard syntax (must be last) */
    color: #E5E4EC;
    font-size: .85rem;
    
}

table thead tr th {
    padding: 8px;
}

table tbody tr td {
    padding: 8px;
}
table tbody tr td:nth-child(2) {
    font-size: .80rem;
}

thead tr > :first-child {
    width: 10px;
}

.edit-icon {
    font-size: 15px;
}